@using Toy.Utilit
@model dynamic
@{
    int[] newProduct = NewProducts.GetProducts();
    IEnumerable<dynamic> ModelCollection = Model as IEnumerable<dynamic>;
}
@* @await Html.PartialAsync("_CardProduct", new[]{Model}); *@
@if (ModelCollection.Any())
{
    @await Html.PartialAsync("_BreadCrumb", new object[] { ModelCollection.First().product.Category.Name})
    <h3>@ModelCollection.First().product.Category.Name</h3>
}
<div class="d-flex flex-wrap justify-content-center justify-content-lg-start card-product">
    @foreach (var product in (ModelCollection))
    {
        bool hasDiscount = product.Discount != null;
        bool hasProduct = product.product.Amount > 0;
        <div class="card ms-1 mb-md-4 mb-2 @(!hasProduct ? "product-not-available" : "")">
            @if (hasDiscount && hasProduct)
            {
                <div class="sign-discount"></div>
            }
            else if (Array.Exists(newProduct, p => p == product.product.Id) && hasProduct)
            {
                <div class="sign-new"></div>
            } 
            <span class="image-block">
                <a asp-controller="Product" asp-action="Index" asp-route-id="@product.product.Id">
                <img src="~/img/@(product.PhotoUrl ?? StaticVariables.defaultPicture)"
                        class="card-img-top" alt="@product.product.Name">
                </a>
            </span>
            <div class="card-body d-grid pb-0">
                <div>
                    @await Html.PartialAsync("_Rating", new object[3] { product.MarkAvg, product.CommentCount, product.product.Id})
                </div>
                <h5 class="card-title">@product.product.Name @product.MarkAvg</h5>
                @if (!hasProduct)
                {
                    <span>Немає в наявності</span>
                }
                
                <div class="price">
                    <span class="@(hasDiscount && hasProduct ? "decoration" : "")">@product.product.Price.ToString("0.##") @product.UnitPriceName</span>
                    @await Html.PartialAsync("_Price", new object[6] { hasDiscount, hasProduct, product.product.Price, product.UnitPriceName, product.Discount, product.UnitDiscountName })
                    @if (hasProduct)
                    {
                        <a asp-controller="Basket" asp-action="Index" asp-route-id="@product.product.Id">
                            <span class="basket"></span>
                        </a>
                    }
                </div>
                
                @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
            </div>
        </div>
    }
</div>