@using Toy.Utilit
@model dynamic
@{
    int[] newProduct = NewProducts.GetProducts();
}
@* @await Html.PartialAsync("_CardProduct", new[]{Model}); *@
<div class="d-flex flex-wrap card-product">
    @foreach (var product in (Model as IEnumerable<dynamic>))
    {
        bool hasDiscount = product.Discount != null;
        bool hasProduct = product.product.Amount > 0;

        <div class="card me-1 mb-md-4 mb-2 @(!hasProduct ? "product-not-available" : "")" style="width: 18rem;">
            @if (hasDiscount && hasProduct)
            {
                <div class="sign-discount"></div>
            }
            else if (Array.Exists(newProduct, p => p == product.product.Id) && hasProduct)
            {
                <div class="sign-new"></div>
            } 
            <span class="image-block">
                <a asp-controller="Product" asp-action="Index" asp-route-id="@product.product.Id">
                <img src="~/img/@if(product.PhotoUrl!=null){@product.PhotoUrl}else{@StaticVariables.defaultPicture}"
                     class="card-img-top" alt="@product.product.Name">
                </a>
            </span>
            <div class="card-body">
                <div>
                    @await Html.PartialAsync("_Rating", new object[3] { product.MarkAvg, product.CommentCount, product.product.Id})
                </div>
                <h5 class="card-title @(hasProduct ? "mb-4" : "")">@product.product.Name @product.MarkAvg</h5>
                @if (!hasProduct)
                {
                    <span class="mb-4">Немає в наявності</span>
                }
                
                <div class="price">
                    <span class="@(hasDiscount && hasProduct ? "decoration" : "")">@product.product.Price.ToString("0.##") @product.UnitPriceName</span>
                    @await Html.PartialAsync("_Price", new object[6] { hasDiscount, hasProduct, product.product.Price, product.UnitPriceName, product.Discount, product.UnitDiscountName })
                    @if (hasProduct)
                    {
                        <a asp-controller="Basket" asp-action="Index" asp-route-id="@product.product.Id">
                            <span class="basket"></span>
                        </a>
                    }
                </div>
                
                @* <a href="#" class="btn btn-primary">Go somewhere</a> *@
            </div>
        </div>
    }
</div>

