@using Toy.Utilit
@model dynamic
@{
    int[] newProduct = NewProducts.GetProducts();
    IEnumerable<dynamic> ModelCollection = Model as IEnumerable<dynamic>;
}
@* @await Html.PartialAsync("_CardProduct", new[]{Model}); *@

@await Html.PartialAsync("_BreadCrumb", new object[] { "Кошик" })
@if (ModelCollection!=null)
{
    <div class="in-basket">
        @foreach (var product in (ModelCollection))
        {
            bool hasDiscount = product.Discount != null;
            bool hasProduct = product.product.Amount > 0;
            if (hasProduct)
            {
                <div class="basket-parent d-flex flex-row flex-wrap align-items-center">
                    <div>
                        <span class="image-block">
                            <a asp-controller="Product" asp-action="Index" asp-route-id="@product.product.Id">
                                <img src="~/img/@(product.PhotoUrl ?? StaticVariables.defaultPicture)"
                                     class="card-img-top" alt="@product.product.Name">
                            </a>
                        </span>
                    </div>
                    <div>
                        <div>@product.product.Name</div>
                        <div>
                            <span class="@(hasDiscount && hasProduct ? "decoration" : "")">@product.product.Price.ToString("0.##") @product.UnitPriceName</span>
                            @await Html.PartialAsync("_Price", new object[6] { hasDiscount, hasProduct, product.product.Price, product.UnitPriceName, product.Discount, product.UnitDiscountName })
                        </div>
                        <div class="d-flex align-items-center choose-basket-parent">
                            @*new short[] { (product.MaxAmount == null) ? product.product.Amount : product.MaxAmount, product.Amount ?? null }*@
                            @await Html.PartialAsync("_ChooseProductAmount",new short[] { (short)product.MaxAmount, (short)product.Amount })
                            <span class="rubbish-bin ms-2"></span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
}
else
{
    <div>Ваш кошик порожній</div>
}