@using Toy.Utilit
@model dynamic
@{
    int[] newProduct = NewProducts.GetProducts();
    IEnumerable<dynamic> ModelCollection = Model as IEnumerable<dynamic>;
    decimal Summa = 0;
    string unitPriceName = String.Empty;
}

@await Html.PartialAsync("_BreadCrumb", new object[] { "Кошик" })
@if (ModelCollection != null && ModelCollection.Count() != 0)
{
    <h3>В кошику:</h3>
    <div class="in-basket mt-3">
        @foreach (var product in (ModelCollection))
        {
            bool hasDiscount = product.Discount != null;
            bool hasProduct = product.product.Amount > 0;
            if (hasProduct)
            {
                <div class="basket-parent d-grid" data-product-id="@product.product.Id">
                    <div>
                        @await Html.PartialAsync("_Photo_ProductIndex", new object[3] { product.product.Id, product.PhotoUrl, product.product.Name })
                    </div>
                    <div>
                        <div>@product.product.Name</div>
                        <div class="mt-1 mb-1">
                            <span class="@(hasDiscount && hasProduct ? "decoration" : "price")">@product.product.Price.ToString("0.##") @product.UnitPriceName</span>
                            @await Html.PartialAsync("_Price", new object[6] { hasDiscount, hasProduct, product.product.Price, product.UnitPriceName, product.Discount, product.UnitDiscountName })
                        </div>
                        <div class="d-flex align-items-center choose-basket-parent">
                            @await Html.PartialAsync("_ChooseProductAmount", new short[] { (short)product.MaxAmount, (short)product.Amount })
                            <span class="rubbish-bin ms-2"></span>
                        </div>
                    </div>
                </div>
                if (Summa == 0)
                    unitPriceName = product.UnitPriceName;
                Summa += (hasDiscount ? Toy.Utilit.Discount.GetPriceWithDiscount(product.product.Price, product.Discount, product.UnitDiscountName) : product.product.Price) * product.Amount;
            }
        }
    </div>
    <div class="mt-3 mb-2">Сума до сплати: <span class="ms-4 summa">@Summa.ToString("0.##")</span> @unitPriceName</div>
    @using (Html.BeginForm("Buy", "Product", HttpMethods.Get))
    {
        <button type="submit" class="mb-3">Оформити замовлення</button>
    }
}
else
{
    <div>
        <h3 class="text-center">Ваш кошик порожній :(</h3>
        <div class="parent-basket-free">
            <img class="basket-free" src="~/img/sign/shopping-cart-free.png"/>
        </div>
    </div>
}